<!DOCTYPE html>
<html>
<head>
  <title>Administration</title>
  <%= stylesheet_link_tag    "relax_admin/application", media: "all", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "relax_admin/application", 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.0/js/froala_editor.pkgd.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body id="admin-dashboard" class="<% if session[:compact].present? %>page-sidebar-closed<% end %>">
  <noscript>
    Pour accéder à toutes les fonctionnalités de ce site, vous devez activer JavaScript.
    Voici les <a href="http://www.enable-javascript.com/fr/" target="_blank">
    instructions pour activer JavaScript dans votre navigateur Web</a>.
  </noscript>

  <%= render 'relax_admin/shared/header' %>

  <div class="page-container">
    <%= render 'relax_admin/shared/menu' %>
    <div class="page-content">
      <%= render 'relax_admin/shared/sub_header' %>
      <%= render 'relax_admin/shared/breadcrumb' %>
      <%= yield %>
    </div>
  </div>

  <div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
  </div>

  <%= toastr_bootstrap %>
</body>

</body>
</html>
