<%= f.label a.keys.first, class: "form-control-label #{required?(f.object, a).present? ? 'required' : ''}" %>
<%= f.collection_select a.keys.first.to_s + '_id', a.keys.first.to_s.classify.constantize.all, :id, object_label(a), {prompt: "Sélectionner un(e) #{a.keys.first.to_s.classify.constantize.model_name.human.downcase}"}, class: 'selectize-single', required: required?(f.object, a).present? %>
<a href="#" class="add-belongs-to" style="font-size: .9em;">Ajouter une(e) <%= a.keys.first.to_s.classify.constantize.model_name.human.downcase %></a>

<script type="text/javascript">
  $(function() {
    $('.add-belongs-to').on('click', function(e) {
      e.preventDefault();
      $('.modal-belongs-to').html();
      $('.modal-belongs-to').html("<%= escape_javascript(render 'relax_admin/base/data_belongs_to', a: a) %>");
      $('.modal-belongs-to').modal('show');

      var id = "form#new_<%= a.keys.first.to_s.singularize %>";

      $(id).bind('ajax:success', function(evt, data, status, xhr) {
        console.log('success');
      });
    });
  });
</script>
