<%= f.label a.keys.first, class: "form-control-label #{required?(f.object, a).present? ? 'required' : ''}" %>
<%= f.collection_select a.keys.first.to_s + '_id',
class_name_from_association(f.object, a).constantize.all.limit(20), :id, object_label(a),
{
  prompt: t('relax_admin.view.select_model', model_name: class_name_from_association(f.object, a).constantize.model_name.human.downcase),
},
'data-model': class_name_from_association(f.object, a).constantize.model_name.to_s.underscore,
'data-fields': "RelaxAdmin::Models::#{a.keys.first.to_s.classify.pluralize}Controller".constantize.new.autocomplete_params.join(' '),
class: "selectize-model-single #{a.keys.first.to_s}_id", required: required?(f.object, a).present? %>

<a href="#" class="add-belongs-to" style="font-size: .9em;"><%= t('relax_admin.view.add', class_name_from_association(f.object, a).constantize.model_name.human.downcase) %></a>

<script type="text/javascript">
  $(function() {
    $('.add-belongs-to').on('click', function(e) {
      e.preventDefault();
      $('.modal-belongs-to').html();
      $('.modal-belongs-to').html("<%= escape_javascript(render 'relax_admin/base/data_belongs_to', a: a) %>");
      $('.modal-belongs-to').modal('show');

      var id = "form#new_<%= a.keys.first.to_s.singularize %>";

      function closeModals() {
        $(".modal").modal("hide");
        $("body").removeClass("modal-open");
        $(".modal-backdrop").remove();
      }

      $(id)
      .on('ajax:complete', function(xhr, status) {
        // console.log(status);
      })
      .on('ajax:error', function(xhr, status, err) {
        console.log(status);
        console.log(err);
      })
      .on("ajax:success", function(xhr, data, status) {
        if (data.errors) {
          var errors_html = "";
          data.errors.map(function(item, index) {
            errors_html += item + '<br  />';
          });
          $('.errors-json').html(errors_html)
        } else {
          toastr.success("<%= t('relax_admin.view.create_success', model_name: class_name_from_association(f.object, a).constantize.model_name.human) %>");
          $(id).trigger("reset");
          closeModals();
          var select = $('.<%= a.keys.first.to_s + '_id' %>')[0].selectize;
          select.addOption({value: data.id, text: data.title});
          select.addItem(data.id);
        }
      });
    });
  });
</script>
