<div class="container-fluid container-fluid-admin bckg-dark">
  <div class="login-form centered">
    <div class="row">
      <div class="col-sm-12 content bckg-dark-light">
        <h2 class="text-center title-login"><%= t('relax_admin.view.administration') %></h2>
        <%= form_for(:admin, url: '') do |f| %>
          <span class="failed-login">
            <%= @error_messages %>
          </span>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-user"></i>
            </span>
            <%= f.text_field :login, required: false, autofocus: true, label: false, placeholder: t('relax_admin.view.username'), class: 'form-control' %>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-lock"></i>
            </span>
            <%= f.password_field :password, required: false, label: false, placeholder: t('relax_admin.view.password'), class: 'form-control' %>
          </div>
          <div class="form-actions">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= f.submit t('relax_admin.view.login') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
