<div class="page-bar">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= relax_admin.dashboard_path %>">
          <i class="icon-home"></i>
          <%= t('relax_admin.view.home') %>
        </a>
      </li>
      <% if params[:action] == 'index' %>
        <li class="breadcrumb-item" aria-current="page">
          <%= @model_name&.pluralize %>
        </li>
      <% elsif params[:action] == 'new' || params[:action] == 'edit' || params[:action] == 'show' %>
        <li class="breadcrumb-item">
          <a href="<%= polymorphic_url([:relax_admin, @model_class]) %>">
            <%= @model_name&.pluralize %>
          </a>
        </li>
      <% end %>
      <% if params[:action] == 'new' %>
        <li class="breadcrumb-item"><%= t('relax_admin.view.new').capitalize %></li>
      <% elsif params[:action] == 'edit' %>
        <li class="breadcrumb-item"><%= t('relax_admin.view.edit').capitalize %></li>
      <% elsif params[:action] == 'show' %>
        <li class="breadcrumb-item"><%= t('relax_admin.view.show').capitalize %></li>
      <% end %>
    </ol>
  </nav>
</div>
