<nav class="navbar navbar-toggleable-md fixed-top navbar-light bg-faded">
  <div class="page-logo">
    <a href="<%= relax_admin.dashboard_path %>" class="navbar-brand">ADMIN</a>
    <a href="<%= relax_admin.toggle_dashboard_path %>" class="menu-toggler sidebar-toggler">
      <i class="icon-menu"></i>
    </a>
  </div>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <div class="navbar-nav mr-auto mt-2 mt-lg-0">
    </div>
    <ul class="nav right-nav-fix">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_admin.avatar.present? %>
            <img src="<%= current_admin.avatar.url %>" class="rounded-circle"/>
          <% else %>
            <img src="data:image/png;base64,<%= current_admin.identicon %>" class="rounded-circle"/>
          <% end %>
          <span class=""><%= current_admin.login %></span>
          <i class="fa fa-angle-down"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/" title="Accueil du site" target="_blank">
          <i class="icon-screen-desktop"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="<%= relax_admin.logout_url %>" title="Se déconnecter">
          <i class="icon-logout"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
