<div class="block-batch float-right">
  <div class="dropdown">
    <a class="btn btn-circle btn-info btn-sm dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-share"></i>
      <span class=""><%= t('slash_admin.view.batch_actions') %></span>
    </a>
    <div class="dropdown-menu">
      <% if can? :destroy, @model_class %>
        <a
        class="dropdown-item batch-action"
        data-action="<%= slash_admin.batch_delete_path(@model_class.model_name.to_s.underscore) %>"
        data-message="<%= t('slash_admin.view.be_careful') %>" href="#"><i class="icon-trash">
        </i> <%= t('slash_admin.view.delete') %></a>
      <% end %>
    </div>
  </div>
  <div class="count">
    <span class="batch-current-selected">0</span> <%= t('slash_admin.view.selected_elements') %>
  </div>
</div>
