<% if @pagy_models.count >= 1 %>
  <form class="admin-pagination form-inline">
    <%== pagy_bootstrap_combo_nav_js(@pagy_models) %>
    &nbsp; |
    <%= t('slash_admin.view.show_by') %>&nbsp;&nbsp;
    <select class="form-input input-sm form-control" name="per">
      <% @per_values.each do |per| %>
        <option value="<%= per %>"
                <% if params[:per].to_i == per %>selected
                <% end %>><%= per %></option>
      <% end %>
    </select>
    &nbsp;
    <%= t('slash_admin.view.total_of') %>&nbsp;
    <span class="pagination-panel-total-count"><%= @pagy_models.count %></span>
    <%= t('slash_admin.view.result_found') %>
  </form>
<% end %>
