<div class="page-bar">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= slash_admin.dashboard_path %>">
          <i class="icon-home"></i>
          <%= t('slash_admin.view.home') %>
        </a>
      </li>
      <% if params[:action] == 'index' %>
        <li class="breadcrumb-item" aria-current="page">
          <%= @model_name&.pluralize %>
        </li>
      <% elsif params[:action] == 'new' || params[:action] == 'edit' || params[:action] == 'show' %>
        <li class="breadcrumb-item">
          <a href="<%= polymorphic_url([:slash_admin, @model_class]) %>">
            <%= @model_name&.pluralize %>
          </a>
        </li>
      <% end %>
      <% if params[:action] == 'new' %>
        <li class="breadcrumb-item"><%= t('slash_admin.view.new', model_name: @model_class.model_name.human.pluralize.capitalize) %></li>
      <% elsif params[:action] == 'edit' %>
        <li class="breadcrumb-item"><%= t('slash_admin.view.edit', model_name: @model_class.model_name.human.pluralize.capitalize) %></li>
      <% elsif params[:action] == 'show' %>
        <li class="breadcrumb-item"><%= t('slash_admin.view.show', model_name: @model_class.model_name.human.pluralize.capitalize) %></li>
      <% end %>
    </ol>
  </nav>
</div>
