<div class="page-sidebar">
  <ul class="nav nav-pills flex-column">
    <% menu_entries.each do |s| %>
      <% if access?(s) %>
        <li
          class="nav-item
            <% if s[:path] %>
              <% if request.fullpath == s[:path] %>
                active
              <% end %>
            <% end %>">
          <a class="nav-link"
             <%= s.key?(:turbolinks) ? "data-turbolinks=" + boolean_to_string(s[:turbolinks]) + "" : '' %>
             <% s[:blank].present? ? 'target="_blank"' : '' %>
             href="<%= s[:path].present? ? s[:path] : '#' %>">
            <% if s[:icon] %>
              <i class="<%= s[:icon] %>"></i>
            <% end %>
            <span class="title"><%= s[:title] %></span>
          </a>
          <% if s[:sub_menu] %>
            <div class="sub-menu">
              <table class="table-sm">
                <tbody>
                <% s[:sub_menu].each_with_index do |sub, idx| %>
                  <% if sub[:path].present? %>
                    <tr class="clickable-row <%= request.fullpath == sub[:path] ? 'active' : '' %> <%= s.dig(:sub_menu, idx + 1, :layout) == 'divider' ? 'menu-divider-below' : '' %>"
                      data-href="<%= sub[:path] %>"
                      data-blank="<%= s[:blank].present? ? 'true' : 'false' %>">
                      <td>
                        <a href="<%= sub[:path] %>" class="<%= request.fullpath == sub[:path] ? 'active' : '' %>" target="<%= s[:blank].present? ? '_blank' : '_self' %>">
                          <% if sub[:icon] %>
                            <i class="<%= sub[:icon] %>"></i>
                          <% end %>
                        </a>
                      </td>
                      <td>
                        <a href="<%= sub[:path] %>" class="<%= request.fullpath == sub[:path] ? 'active' : '' %>" target="<%= s[:blank].present? ? '_blank' : '_self' %>">
                          <span class="title"><%= sub[:title] %></span>
                        </a>
                      </td>
                    </tr>
                  <% else %>
                    <% if access_model?(sub) && sub[:layout].blank? %>
                      <tr class="clickable-row <%= controller.controller_name == sub[:model].name.split('::').last.tableize ? 'active' : '' %> <%= s.dig(:sub_menu, idx + 1, :layout) == 'divider' ? 'menu-divider-below' : '' %>"
                          data-href="<%= polymorphic_url([:slash_admin, sub[:model]]) %>"
                          data-blank="<%= s[:blank].present? ? 'true' : 'false' %>">
                        <td>
                          <a class="<%= controller.controller_name == sub[:model].name.split('::').last.tableize ? 'active' : '' %>" href="<%= polymorphic_url([:slash_admin, sub[:model]]) %>" target="<%= s[:blank].present? ? '_blank' : '_self' %>">
                          <% if sub[:icon] %>
                            <i class="<%= sub[:icon] %>"></i>
                          <% end %>
                          </a>
                        </td>
                        <td>
                          <a class="<%= controller.controller_name == sub[:model].name.split('::').last.tableize ? 'active' : '' %>" href="<%= polymorphic_url([:slash_admin, sub[:model]]) %>" target="<%= s[:blank].present? ? 'true' : '_self' %>">
                            <span class="title"><%= sub[:model].model_name.human(count: 2) %></span>
                          </a>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
  $(function() {
    $(".clickable-row").click(function() {
      var href = $(this).data("href");
      var blank = $(this).data("blank");

      if (blank === true) {
        window.open = href;
      }
      else {
        Turbolinks.visit(href);
      }
    });
  });
</script>
