<%= button_tag(type: 'submit', class: 'btn btn btn-primary', name: 'submit_add') do %>
  <i class="fa fa-save"></i> <i class="fa fa-plus"></i> <%= t('slash_admin.view.save_and_add_html') %>
<% end %>
<%= button_tag(type: 'submit', class: 'btn btn btn-info pull-right', name: 'submit_redirect') do %>
  <i class="fa fa-save"></i> <i class="icon-action-undo"></i> <%= t('slash_admin.view.save_and_return_html') %>
<% end %>
<button type="submit" class="btn btn-primary pull-right" style="margin-right: 15px;">
  <i class="fa fa-save"></i> <%= t('slash_admin.view.save') %>
</button>
