<%= f.label a, class: 'form-control-label' %>
<%= render 'slash_admin/shared/tooltip', a: a %>

<%= f.fields_for a do |association_model| %>
  <%= render 'slash_admin/fields/has_many_row', f: association_model, model_ref: a.to_sym %>
<% end %>

<div class="links">
  <%= link_to_add_association f, a,
  class: 'btn btn-success btn-sm btn-add-assoc',
  render_options: {locals: {model_ref: a}},
  partial: 'slash_admin/fields/has_many_row' do %>
    <i class="icon-plus"></i> Ajouter un(e) <%= @model_class.human_attribute_name(a).singularize.downcase %>
  <% end %>
</div>
