<% show_params.each do |a| %>
  <% if @belongs_to_fields.include?(a.to_sym) %>
    <div class="row line-show">
      <div class="col-sm-12">
        <span class="show-attr-title"><%= @model_class.human_attribute_name(a) %></span>
        <%= show_object(@model.send(a)) %>
      </div>
    </div>
  <% elsif @has_many_fields.include?(a.to_sym) %>
    <div class="row line-show">
      <div class="col-sm-12">
        <span class="show-attr-title"><%= @model_class.human_attribute_name(a) %></span>
        <%= @model.send(a) %>
      </div>
    </div>
  <% elsif @model.send(a).class <= CarrierWave::Uploader::Base %>
    <div class="row line-show">
      <div class="col-sm-12">
        <span class="show-attr-title"><%= @model_class.human_attribute_name(a) %></span>
        <% if @model.send(a).present? %>
          <br/>
          <img src="<%= @model.send(a) %>" class="img-fluid background-default"/>
        <% end %>
      </div>
    </div>
  <% else %>
    <% case guess_field_type(@model, a)
         when 'string' %>
      <div class="row line-show">
        <div class="col-sm-12">
          <span class="show-attr-title"><%= @model_class.human_attribute_name(a) %></span>
          <%= @model.send(a) %>
        </div>
      </div>
    <% when 'text' %>
      <div class="row line-show">
        <div class="col-sm-12">
          <span class="show-attr-title"><%= @model_class.human_attribute_name(a) %></span>
          <%= @model.send(a) %>
        </div>
      </div>
    <% when 'integer' %>
      <div class="row line-show">
        <div class="col-sm-12">
          <span class="show-attr-title"><%= @model_class.human_attribute_name(a) %></span>
          <%= @model.send(a) %>
        </div>
      </div>
    <% when 'number', 'decimal' %>
      <div class="row line-show">
        <div class="col-sm-12">
          <span class="show-attr-title"><%= @model_class.human_attribute_name(a) %></span>
          <%= @model.send(a) %>
        </div>
      </div>
    <% when 'boolean' %>
      <div class="row line-show">
        <div class="col-sm-12">
          <span class="show-attr-title"><%= @model_class.human_attribute_name(a) %></span>
          <%= @model.send(a) ? t('slash_admin.view.yes') : t('slash_admin.view.no') %>
        </div>
      </div>
    <% when 'date', 'datetime' %>
      <div class="row line-show">
        <div class="col-sm-12">
          <span class="show-attr-title"><%= @model_class.human_attribute_name(a) %></span>
          <%= @model.send(a) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
