<%= form_for [:slash_admin, @model] do |f| %>
  <%#= render 'slash_admin/shared/debug', params: params %>
  <%= render 'slash_admin/shared/new_form_buttons' %>
  <div class="separator"></div>

  <%= render 'slash_admin/shared/errors_data_new' %>

  <% params.each do |a| %>
    <%# <strong><%= @model_class.type_for_attribute(a).type.to_s </strong> %>
    <%= render 'slash_admin/fields/form_group', f: f, a: a %>
  <% end %>

  <%= render 'slash_admin/base/translatable_fields', f: f %>

  <div class="separator"></div>
  <%= render'slash_admin/shared/new_form_buttons' %>
<% end %>

<div class="modal-belongs-to modal"></div>

<div id="imageModal" class="modal">
  <div class="modal-dialog modal-xl">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <img class="modal-content" id="image_container" class="img-fluid">
  </div>
</div>

<script type="text/javascript">
  $('.image-link-modal').on('click', function(e) {
    e.preventDefault();

    var container = $('#image_container');
    container.attr('src', '');

    var src = $(this).attr('data-src');

    container.attr('src', src);
  });
</script>