<% if should_add_translatable? %>
  <h3 class="translations"><%= t('slash_admin.view.translations') %></h3>
  <nav class="nav nav-tabs" id="language-tabs" role="tablist">
    <% I18n.available_locales.each do |locale| %>
        <a class="nav-item nav-link <%= I18n.available_locales.first == locale ? 'active' : '' %>" id="nav-language-<%= locale %>" data-toggle="tab" href="#language-<%= locale %>" role="tab" aria-controls="language-<%= locale %>">
          <img src='<%= image_path("slash_admin/#{locale.to_s}.png") %>' style="margin-right: 5px; max-width: 25px;">
        </a>
      </li>
    <% end %>
  </nav>
  <div class="tab-content">
    <% I18n.available_locales.each do |locale| %>
      <div class="tab-pane fade <%= I18n.available_locales.first == locale ? 'show active' : '' %>" id="language-<%= locale %>" role="tabpanel" aria-labelledby="language-<%= locale %>-tab">
        <%= f.globalize_fields_for locale do |g| %>
          <% translatable_params.each do |a| %>
            <%= render 'slash_admin/fields/form_group', f: g, a: a %>
          <% end %>
        <% end  %>
      </div>
    <% end %>
  </div>
  <div class="separator"></div>
<% end %>
