<% page_title(@title) %>
<% page_sub_title(@sub_title) %>

<div class="row">
  <div class="col-sm-12">
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption">
          <% if @is_nestable %>
            <%= link_to(polymorphic_url([:nestable, :slash_admin, @model_class]), class: 'btn btn-circle btn-info btn-sm') do %>
              <i class="fa fa-outdent"></i> <%= t('slash_admin.view.order') %>
            <% end %>
          <% end %>

          <%= t('slash_admin.view.list', model_name: @model_class.model_name.human(count: 2)) %>
        </div>
        <div class="actions">
          <% if can? :create, @model_class %>
            <%= link_to(new_polymorphic_url([:slash_admin, @model_class]), class: 'btn btn-circle btn-primary btn-sm') do %>
              <i class="fa fa-plus"></i> <%= t('slash_admin.view.new') %>
            <% end rescue nil %>
          <% end %>
          <div class="dropdown">
            <a class="btn btn-circle btn-secondary btn-sm dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-share"></i>
              <span class=""><%= t('slash_admin.view.tools') %></span>
              <i class="fa fa-angle-down fix-dropdown"></i>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="<%= polymorphic_url([:slash_admin, @model_class], filters: params[:filters].present? ? params[:filters].permit! : [], format: 'csv') %>"><%= t('slash_admin.view.export_csv') %></a>
              <!-- <a class="dropdown-item" href="<%= polymorphic_url([:slash_admin, @model_class], format: 'xls') %>"><%= t('slash_admin.view.export_xls') %></a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="portlet-body">
        <div class="datatable_wrapper">
          <div class="row">
            <div class="col-sm-12">
              <%= render 'data_list' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
