<%= form_for [:admin, @model] do |f| %>
  <%#= render 'admin/shared/debug', params: params %>

  <div class="row">
    <div class="col-sm-4">
      <%= render 'fields/form_group', f: f, a: 'title' %>
      <%= render 'fields/form_group', f: f, a: 'link', help: '(HTTPS seulement) eg: https://www.facebook.com' %>
    </div>

    <div class="col-sm-8">
      <%= render 'fields/form_group', f: f, a: 'image' %>
    </div>
  </div>

  <%= render 'shared/new_form_buttons' %>
<% end %>
